.eventCard {
    width: 310px;
    height: 420px;
    margin: .5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  
  .eventCard div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    font-weight: bold;
    top: 0;
    color: white;
  }
  
  .eventCard:hover {
    /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 30px 18px -8px rgb(60, 57, 57);
    transform: scale(1.03, 1.03);
    cursor: pointer;
  }
  
  .eventCard div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
  .eventCard div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }
  
  .eventCard div:nth-of-type(3) {
    z-index: 2;
    background-color: #343739;
    padding: 16px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .eventCard div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }
  
  .eventCard div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: #f9d3b4;
  }
  
  .eventCard:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.8;
  }
  
  .eventCard:hover div:nth-of-type(3) {
    opacity: 0.88;

  }
  
  .eventCard:hover div:nth-of-type(1) {
    z-index: 1;
  }