*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  /* background-color: rgba(0, 0, 0, 0.355); */
  background-color: rgba(250, 235, 215, 0.493);


}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
